.lead {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 984px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #fff;
}

@media screen and (max-width: 1140px) {
    .lead {
        max-width: none;
        padding: 0 48px;
    }
}

@media screen and (max-width: 984px) {
    .lead {
        padding: 0;
    }
}